﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="Project1._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <p style="text-align:center;"><img src="img/logoJL.png" width="200">
            <br />
              
            <p style="text-align:center;"> User ID      : <input class="user_id" type="text"> * <br />
            <p style="text-align:center;"> เบอร์โทรศัพท์    : <input class="tel" type="text"> * <br />
            <p style="text-align:center;"> จำนวนเงินที่เติม : <input class="amount" type="text"> * <br />
            <p style="text-align:center;"> โอนเงินเข้าบัญชีธนาคาร : <input class="tranfermoney" type="text"> * <br />
            <p style="text-align:center;"> เลขที่บัญชี : <input class="acount_number" type="text"> * <br />
            <p style="text-align:center;"> ชื่อบัญชี :&nbsp; <input class="acount_name" type="text"> * <br />
                <br /><br />

                <input type = "submit" value="Submit">
                <br /><br />
                หมายเหตุ <br />
ขอสงวนสิทธิ์ให้กับผู้เล่นดังต่อไปนี้เท่านั้น <br />
1. ผู้เล่นที่ซื้อใบโคลเวอร์และยังไม่ได้ทำการแลกของ <br />
2. ผู้เล่นที่ซื้อใบโคลเวอร์แต่แลกของที่มูลค่าน้อยกว่าการเติมเงิน<br />






        </div>
    </form>
</body>
</html>
